@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import "tailwindcss-primeui";

@custom-variant dark (&:is(.dark *));

@theme {
    --breakpoint-md: 607px;
    --font-sekuya: "Sekuya", system-ui;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}
